@using Microsoft.AspNetCore.Identity
@using AspNetCoreTodo.Models
@using AspNetCoreTodo.Data

@inject SignInManager<ApplicationUser> signInManager 
@inject UserManager<ApplicationUser> userManager
<!-- si el inject no se cumple se omite el resto del codigo
    SignInManager = usuario registrado
    UserManager = busca los datos del usuario logeado.
 -->
@if(signInManager.IsSignedIn(User))
{
    var currentUser = await userManager.GetUserAsync(User);

    var isAdmin = currentUser != null 
                  && await userManager.IsInRoleAsync(
                      currentUser, Constants.AdministradorRole);

    if(isAdmin)
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="ManageUsers" asp-action="Index">ManageUsers</a>
            </li>
        </ul>
    }

}